/* header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-form {
    flex-grow: 1;
    max-width: 300px;
    margin: 0 20px;
}

.search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-left: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
}

.burger-line {
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    margin: 15px 0;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .search-form {
        order: -1;
        max-width: none;
        margin: 0 0 15px 0;
        width: 100%;
    }

    .header-container {
        flex-wrap: wrap;
    }
}



body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #c46d7b;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #ffffff;
}

.burger-menu {
    display: none;
}

.main-content {
    display: flex;

    justify-content: center;
    margin-top: 30px;
    /* Вычитаем высоту шапки */
}
.main-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 30px;
    /* Вычитаем высоту шапки */
}
#descript-promt {
    grid-column: 3/6;
}
.main-page img {
    grid-column: 7/12;
}

.left-section {
    text-align: left;
}

.right-section {
    text-align: right;
}

.right-section>img {
    width: 200px;
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.image-placeholder {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;

}

/* Catalog style */
.catalog_line {
    color: #ffcece;
    display: flex;
    flex-direction: row;
}

/* dasdasdasdasdasdadasd */
/*! CSS Used from: Embedded */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
}

.route-archive .tv-container[data-v-44cf6b72] {
    position: relative;
    left: -1px;
    margin-top: -1px;
}

.the-tv[data-v-9d1fb51c] {
    display: flex;
    flex-direction: column;
    width: calc(100% + 2px);
}

@media (min-width:768px) {
    .the-tv[data-v-9d1fb51c] {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width:1024px) {
    .the-tv[data-v-9d1fb51c] {
        width: 832px;
    }
}

@media (min-width:1280px) {
    .the-tv[data-v-9d1fb51c] {
        width: 1248px;
    }
}

@media (min-width:768px) {
    .the-tv__article-card_middle[data-v-9d1fb51c] {
        width: 100%;
    }
}

.the-tv__observer[data-v-9d1fb51c]:nth-child(n+3) {
    margin-top: -1px;
}

@media (min-width:768px) {
    .the-tv__observer[data-v-9d1fb51c]:nth-child(n+3) {
        margin-top: 0;
    }

    .the-tv__observer[data-v-9d1fb51c]:nth-child(n+2) {
        margin-top: -1px;
        width: calc(50% + .5px);
    }

    .the-tv__observer[data-v-9d1fb51c]:nth-child(3),
    .the-tv__observer[data-v-9d1fb51c]:nth-child(5) {
        margin-left: -1px;
    }
}

@media (min-width:1280px) {
    .the-tv__observer[data-v-9d1fb51c]:nth-child(n+2) {
        width: 417px;
        margin-top: 0;
        margin-left: -1px;
    }

    .the-tv__observer[data-v-9d1fb51c]:nth-child(n+3) {
        margin-top: -1px;
    }

    .the-tv__observer[data-v-9d1fb51c]:nth-child(2) {
        width: 417px;
    }

    .the-tv__observer[data-v-9d1fb51c]:nth-child(3) {
        margin-left: 0;
        width: 416px;
    }
}

@media (hover:hover) {
    .the-tv__observer[data-v-9d1fb51c]:hover {
        z-index: 3;
    }
}

.lh-large-article-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    box-sizing: border-box;
}

@media (min-width:768px) {
    .lh-large-article-card {
        border-radius: 4px;
    }
}

.lh-large-article-card__wrapper {
    position: relative;
    min-width: 320px;
    max-width: 832px;
    width: 100%;
    height: 360px;
    box-sizing: border-box;
    padding: 0;
    background-color: #fff;
}

@media (min-width:768px) {
    .lh-large-article-card__wrapper {
        width: 768px;
        height: 384px;
        padding: 24px;
        border: 1px solid #e7e7e7;
    }

    .lh-large-article-card__wrapper:before {
        left: -1px;
        top: -1px;
        content: "";
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 0 solid var(--main-color);
        box-sizing: border-box;
    }
}

@media (min-width:768px)and (hover:hover) {
    .lh-large-article-card__wrapper:hover:before {
        border-width: 2px;
    }

    .lh-large-article-card__wrapper:hover .lh-large-article-card__cover img {
        transform: scale(1.1);
    }

    .lh-large-article-card__wrapper:hover .lh-large-article-card__title {
        -webkit-text-decoration-color: #fff;
        text-decoration-color: #fff;
    }
}

@media (min-width:1024px) {
    .lh-large-article-card__wrapper {
        width: 832px;
        height: 416px;
    }
}

.lh-large-article-card__title {
    font-family: Commissioner, Trebuchet, sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 0 16px;
    color: #fff;
    overflow: hidden;
    word-break: break-word;
    text-wrap: balance;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    white-space: normal;
    z-index: 2;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    padding-bottom: 1px;
    text-underline-offset: 5px;
    transition: -webkit-text-decoration-color .3s ease-in-out;
    transition: text-decoration-color .3s ease-in-out;
    transition: text-decoration-color .3s ease-in-out, -webkit-text-decoration-color .3s ease-in-out;
}

@media (min-width:768px) {
    .lh-large-article-card__title {
        font-size: 36px;
        line-height: 44px;
    }
}

.lh-large-article-card__link {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.lh-large-article-card__controls-and-meta {
    display: flex;
    width: 100%;
}

.lh-large-article-card__controls,
.lh-large-article-card__meta>* {
    z-index: 4;
}

.lh-large-article-card__category-icon {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 0 0 0 8px;
    z-index: 4;
}

@media (hover:hover) {
    .lh-large-article-card__category-icon:hover {
        border-color: var(--hover-color);
    }
}

@media (min-width:768px) {
    .lh-large-article-card__category-icon {
        top: 24px;
        right: 24px;
    }
}

.lh-large-article-card__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.lh-large-article-card__cover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .07) 25.52%, rgba(0, 0, 0, .52) 62.5%, rgba(0, 0, 0, .9) 94.35%);
    z-index: 1;
}

@media (min-width:768px) {
    .lh-large-article-card__cover {
        border-radius: 4px;
    }
}

.lh-large-article-card__cover img {
    text-indent: -9999px;
    font-size: 0;
    transition: all .3s ease-in-out;
}

.app-picture__img[data-v-fa02defc] {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.lh-article-card-controls {
    font-family: PTRoot, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    min-width: min-content;
}

.lh-article-card-controls__comments {
    color: var(--base-color-text);
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.lh-article-card-controls__comments svg path {
    stroke: var(--base-color);
}

@media (hover:hover) {
    .lh-article-card-controls__comments:hover {
        color: var(--hover-color-text);
    }

    .lh-article-card-controls__comments:hover:after {
        color: var(--base-color-text);
    }

    .lh-article-card-controls__comments:hover svg path {
        stroke: var(--hover-color);
    }
}

.lh-article-card-controls__favorite {
    margin-right: 12px;
    display: flex;
}

.lh-article-card-controls__comments {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.lh-article-card-controls__comments span {
    margin-left: 2px;
    font-weight: 700;
}

.lh-favorite-block {
    max-width: 100%;
}

@media (hover:hover) {
    .lh-favorite-block__menu-handler.lh-favorite-block__menu-handler:hover svg path {
        stroke: var(--hover-color);
    }
}

.context-menu[data-v-10849426] {
    position: relative;
}

.context-menu__handler[data-v-10849426] {
    display: flex;
}

.lh-button-icon {
    display: flex;
    align-items: center;
    font-family: PTRoot, Arial, sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    color: var(--base-color-text);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

@media (hover:hover) {
    .lh-button-icon:hover .lh-button-icon__text {
        color: var(--hover-color-text);
    }

    .lh-button-icon:hover .lh-button-icon__icon svg path {
        stroke: var(--hover-color);
    }
}

.lh-button-icon__icon {
    width: 24px;
    height: 24px;
    display: flex;
}

.lh-button-icon__icon svg path {
    stroke: var(--base-color);
    stroke-width: 2px;
    fill: transparent;
}

.lh-button-icon__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2px;
}

.lh-button-icon__text--hidden {
    display: none;
}

.lh-article-card-meta {
    font-family: PTRoot, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.lh-article-card-meta__date {
    color: var(--base-color);
}

.lh-article-card-meta__category {
    color: var(--base-color);
    text-decoration: none;
}

a.lh-article-card-meta__category {
    cursor: pointer;
}

@media (hover:hover) {
    a.lh-article-card-meta__category:hover {
        color: var(--hover-color);
    }

    a.lh-article-card-meta__category:hover:after {
        color: var(--base-color);
    }
}

.lh-article-card-meta__container .lh-article-card-meta__text {
    display: inline;
}

.lh-article-card-meta__container>.lh-article-card-meta__text:not(:first-child) span {
    margin-left: 6px;
    display: inline-block;
}

.lh-article-card-meta__container>.lh-article-card-meta__text:not(:first-child) span:before {
    color: var(--base-color);
    content: "/";
    margin-right: 6px;
}

.lh-article-card-category-icon {
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: var(--background);
}

.lh-article-card-category-icon__item {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media (hover:hover) {
    .lh-article-card-category-icon--link:hover {
        background-color: var(--backgroundHover);
    }

    .lh-article-card-category-icon--link:hover .lh-article-card-category-icon__item {
        background-color: var(--colorHover);
    }
}

.lh-middle-article-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #e7e7e7;
    background: #fff;
}

@media (min-width:768px) {
    .lh-middle-article-card {
        padding: 24px;
        width: 384px;
        height: 400px;
    }

    .lh-middle-article-card:before {
        left: -1px;
        top: -1px;
        content: "";
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 0 solid var(--main-color);
        box-sizing: border-box;
    }
}

@media (min-width:768px)and (hover:hover) {
    .lh-middle-article-card:hover:before {
        border-width: 2px;
    }

    .lh-middle-article-card:hover .lh-middle-article-card__title {
        color: var(--main-color);
    }

    .lh-middle-article-card:hover .lh-middle-article-card__cover-wrapper img {
        transform: scale(1.1);
    }
}

@media (min-width:1024px) {
    .lh-middle-article-card {
        width: 416px;
        height: 416px;
    }
}

.lh-middle-article-card__cover-wrapper {
    position: relative;
    z-index: 0;
    display: inherit;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    aspect-ratio: 2/1;
}

.lh-middle-article-card__cover-wrapper img {
    transition: all .3s ease-in-out;
    text-indent: -9999px;
    font-size: 0;
}

.lh-middle-article-card__title {
    font-family: Commissioner, Trebuchet, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 0 16px;
    color: #000;
    overflow: hidden;
    word-break: break-word;
    text-wrap: balance;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    text-decoration: none;
    white-space: normal;
}

@media (min-width:768px) {
    .lh-middle-article-card__title {
        font-size: 24px;
        line-height: 32px;
    }
}

.lh-middle-article-card__link {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.lh-middle-article-card__controls-and-meta {
    display: flex;
    width: 100%;
}

@media (min-width:768px) {
    .lh-middle-article-card__controls-and-meta {
        margin-top: auto;
    }
}

.lh-middle-article-card__controls,
.lh-middle-article-card__meta>* {
    z-index: 2;
}

.lh-middle-article-card__category-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 0 0 0 8px;
    z-index: 2;
}

@media (min-width:768px) {
    .lh-middle-article-card__category-icon {
        top: 24px;
        right: 24px;
    }
}

@media (hover:hover) {
    .lh-middle-article-card__category-icon:hover {
        border-color: #ed5e42;
    }
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0Z0Xaexs.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0bkXaexs.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0aUXaexs.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0ZUXaexs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0ZEXaexs.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0akXa.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0Z0Xaexs.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0bkXaexs.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0aUXaexs.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0ZUXaexs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0ZEXaexs.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/commissioner/v20/tDbw2o2WnlgI0FNDgduEk4jAhwgumbU1SVfU5BD8OuRL8OstC6KOhgvBYWSFJ-Mgdrgiju6fF8m0akXa.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "PTRoot";
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Bold.94617d3.eot);
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Bold.94617d3.eot?#iefix) format("embedded-opentype"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Bold.605d5b6.woff2) format("woff2"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Bold.b64e0b6.woff) format("woff"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Bold.f52fcf2.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PTRoot";
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Medium.318615d.eot);
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Medium.318615d.eot?#iefix) format("embedded-opentype"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Medium.8ceb490.woff2) format("woff2"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Medium.87a5194.woff) format("woff"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Medium.4a2a3e5.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PTRoot";
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Regular.98910b8.eot);
    src: url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Regular.98910b8.eot?#iefix) format("embedded-opentype"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Regular.ee8f855.woff2) format("woff2"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Regular.1941b20.woff) format("woff"), url(https://lifehacker.ru/_nuxt/fonts/PT_Root_UI_Regular.5a7d120.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Подвал */
.site-footer {
    background-color: #1a1a2e;
    color: #ffffff;
    padding: 50px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    color: #2E2E2E;
}

.footer-column h4 {
    s;
    margin-bottom: 15px;
    font-size: 18px;
    
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #2E2E2E;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #b0bec5;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ffffff;
}

.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 20px;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #b0bec5;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .main-content {

        flex-direction: row;
    }

    .left-section,
    .right-section {
        flex: none;
        width: 50%;
    }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  background: #fff;
}

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #222;
  background: #fff;
}
body.fh5co-overflow {
  overflow-x: auto;
}

::-webkit-selection {
  color: #fff;
  background: #f7c873;
}

::-moz-selection {
  color: #fff;
  background: #f7c873;
}

::selection {
  color: #fff;
  background: #f7c873;
}

a {
  color: #f7c873;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #f3ac2b;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", times, serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Playfair Display", times, serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #f7c873;
  color: #fff;
  border: 2px solid #f7c873;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f6bf5b !important;
  border-color: #f6bf5b !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #f7c873;
  border: 2px solid #f7c873;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #f7c873;
  color: #fff;
}

.btn-success {
  background: #58ca7e;
  color: #fff;
  border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #45c46f !important;
  border-color: #45c46f !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #58ca7e;
  border: 2px solid #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #58ca7e;
  color: #fff;
}

.btn-info {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-warning {
  background: #fed330;
  color: #fff;
  border: 2px solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #fece17 !important;
  border-color: #fece17 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #fed330;
  border: 2px solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #fed330;
  color: #fff;
}

.btn-danger {
  background: #fb4f59;
  color: #fff;
  border: 2px solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #fa3641 !important;
  border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #fb4f59;
  border: 2px solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #fb4f59;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #f7c873;
}

#fh5co-header {
  padding: 3em 3em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #fh5co-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header {
    padding-bottom: 5em !important;
  }
}
#fh5co-header .fh5co-nav-toggle {
  position: absolute;
  top: 4.2em;
  left: 3em;
  z-index: 99;
}
@media screen and (max-width: 1200px) {
  #fh5co-header .fh5co-nav-toggle {
    top: 4em;
    left: 15px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-nav-toggle {
    top: 2.5em;
    left: 15px;
  }
}
#fh5co-header .fh5co-social {
  position: absolute !important;
  right: 3em !important;
  top: 3.2em;
  z-index: 99;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  #fh5co-header .fh5co-social {
    right: 15px !important;
    top: 3.2em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-social {
    right: 15px !important;
    top: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .fh5co-social {
    right: inherit !important;
    left: inherit !important;
    top: 5em;
    left: 50% !important;
    margin-left: -50px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#fh5co-header #fh5co-logo {
  text-align: center;
}
#fh5co-header #fh5co-logo a {
  color: #000;
}
#fh5co-header #fh5co-logo a sup {
  font-size: 20px;
  top: -20px;
}

.fh5co-post-prev,
.fh5co-post-next {
  position: fixed;
  z-index: 999;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .fh5co-post-prev,
  .fh5co-post-next {
    position: relative;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
.fh5co-post-prev span,
.fh5co-post-next span {
  vertical-align: base;
  width: 100px;
}
.fh5co-post-prev span i,
.fh5co-post-next span i {
  top: 7px;
  position: relative;
  font-size: 30px;
  color: #000;
}

.fh5co-post-prev {
  left: 0;
  margin-left: -25px;
}
.fh5co-post-prev:hover {
  margin-left: 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .fh5co-post-prev {
    margin-left: 15px;
    float: left;
  }
}

.fh5co-post-next {
  right: 0;
  margin-right: -25px;
}
.fh5co-post-next:hover {
  margin-right: 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .fh5co-post-next {
    margin-right: 15px;
    float: right;
  }
}

.fh5co-post-entry.single-entry .fh5co-article-title {
  font-size: 80px;
}
@media screen and (max-width: 992px) {
  .fh5co-post-entry.single-entry .fh5co-article-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-post-entry.single-entry .fh5co-article-title {
    font-size: 34px;
  }
}
.fh5co-post-entry article {
  text-align: center;
  float: left;
  margin-bottom: 110px;
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 1200px) {
  .fh5co-post-entry article {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-post-entry article {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-post-entry article {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fh5co-post-entry article a img {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-post-entry article a:hover img {
  opacity: .4;
}
.fh5co-post-entry article figure {
  margin-bottom: 30px;
}
.fh5co-post-entry article h2 {
  font-family: "Playfair Display", times, serif;
  font-size: 34px;
  color: #000;
  margin-bottom: 30px;
}
.fh5co-post-entry article h2 a {
  color: #000;
}
@media screen and (max-width: 992px) {
  .fh5co-post-entry article h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-post-entry article h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.fh5co-post-entry article .fh5co-meta {
  font-size: 16px;
  font-family: "Roboto", arial, sans-serif;
  color: #999999;
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 480px) {
  .fh5co-post-entry article .fh5co-meta {
    margin-bottom: 10px;
  }
}
.fh5co-post-entry article .fh5co-meta.fh5co-date {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.fh5co-post-entry article .content-article {
  padding-top: 4em;
}
.fh5co-post-entry article .content-article a {
  text-decoration: underline;
}
.fh5co-post-entry article .content-article blockquote {
  border-left: none;
  padding-left: 0;
}
.fh5co-post-entry article .content-article blockquote p {
  font-family: "Playfair Display", times, serif;
  font-size: 27px;
  font-style: italic;
  line-height: 1.5;
}
.fh5co-post-entry article .content-article blockquote p cite {
  padding-top: 20px;
  display: block;
  font-size: 16px;
  font-style: normal;
  color: gray;
}
.fh5co-post-entry article .fh5co-highlight {
  border: 4px solid #f2f2f2;
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
}
.fh5co-post-entry article .fh5co-highlight.right {
  float: right;
  margin-left: 30px;
}
.fh5co-post-entry article .fh5co-highlight.left {
  float: left;
}
.fh5co-post-entry article .fh5co-highlight h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-family: "Roboto", arial, sans-serif;
}
.fh5co-post-entry article .fh5co-highlight p {
  font-family: "Playfair Display", times, serif;
  color: #000;
  font-size: 20px;
}

.fh5co-social {
  padding: 0;
  margin: 30px 0 0 0;
  position: relative;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-social li a {
  font-size: 20px;
  padding: 4px;
  color: #000;
}

figure figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #999999;
}

#fh5co-offcanvas {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 700px;
  z-index: 99999;
  overflow-y: auto;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    padding-top: 30px;
    width: 270px;
  }
}
#fh5co-offcanvas .fh5co-close-offcanvas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  width: 30px;
  overflow: hidden;
  color: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas .fh5co-close-offcanvas {
    top: 5px;
  }
}
#fh5co-offcanvas .fh5co-close-offcanvas:hover {
  width: 85px;
  color: #000;
}
#fh5co-offcanvas .fh5co-close-offcanvas > span {
  width: 100px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-offcanvas .fh5co-close-offcanvas > span > span {
  top: 7px;
  position: relative;
  font-size: 18px;
  vertical-align: top;
}
#fh5co-offcanvas .fh5co-box {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
#fh5co-offcanvas .fh5co-menu,
#fh5co-offcanvas .fh5co-bio {
  width: 50%;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas .fh5co-menu,
  #fh5co-offcanvas .fh5co-bio {
    width: 100%;
    padding: 30px;
  }
}
#fh5co-offcanvas .fh5co-bio {
  text-align: center;
  float: left;
}
#fh5co-offcanvas .fh5co-bio figure {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
#fh5co-offcanvas .fh5co-bio img {
  width: 180px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-offcanvas .fh5co-bio p {
  font-size: 16px;
}
#fh5co-offcanvas .heading {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cccccc;
  margin-bottom: 30px;
}
#fh5co-offcanvas .fh5co-menu {
  float: right;
}
#fh5co-offcanvas .fh5co-menu ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas .fh5co-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
#fh5co-offcanvas .fh5co-menu ul li a {
  color: #000;
}

#fh5co-footer {
  padding: 3em 0;
  text-align: center;
}

.js .to-animate, .js
.to-animate-2, .js
.animate-box {
  opacity: 0;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #f7c873;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #535659;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #535659;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #535659;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: block;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rp-b {
  padding-bottom: 40px;
}

.cp-l {
  padding-left: 50px;
}
@media screen and (max-width: 992px) {
  .cp-l {
    padding-left: 15px;
  }
}

.cp-r {
  padding-right: 50px;
}
@media screen and (max-width: 992px) {
  .cp-r {
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
